header {
  background-image: url("../static/mountain-bike-gory-priroda.jpg");
}

#bu {
  background-color: #ea2020;
  border-color: black;
  border-width: medium;
  font-size: 20px;
}

#homeHeading {
  color: white;
}
