#button-start{
	background-color: red;
        border: none;
        color: black;
        padding: 3px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-bottom: 2px;
        cursor: pointer;
        font-weight: bold;
        border-radius: 6px;
        left: 0px;
        top: 0px;
}

#invite{
	right: 0px;
	top: 0px;
}
