.box{
    width:300px;  
}

#ifrm1{
  display: inline-block;
  border-top: red 3px solid;
  border-right: red 3px solid;
  border-left: red 3px solid;
  border-bottom: red 3px solid;
}

#ifrm2{
  display: inline-block;
  border-top: blue 3px solid;
  border-right: blue 3px solid;
  border-left: blue 3px solid;
  border-bottom: blue 3px solid;
  background-image: url(./beer.jpg); 
  background-size: cover;
}
