
<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<link href="../static/splitscreen.css" rel="stylesheet">
<link href="../static/page_top.css" rel="stylesheet">

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var sess;

var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', block_until_agent_joins: false, docked_only: true, ui_off: true};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
	if(!Surfly.currentSession){
	    	s = Surfly.session();
	        s._settings.url = "https://www.surfly.com";
		s.on('session_started', function(session) {
			var retrievedLink = session.followerLink;
			var frame = document.getElementById('ifrm1').contentWindow;
			// we send the link to the first frame (where a Surfly session is already started)
			frame.postMessage(JSON.stringify({"command": "message", "data": retrievedLink}), '*');
			sess = session;

			document.getElementById('exit_button').style.visibility="visible";
	     	})
		.on('session_ended', function(session) {
			document.getElementById('exit_button').style.visibility="hidden";
		}).startLeader('#ifrm2'); 
	}
    }
   });
 });

function sendMess(){
	var url = document.getElementById('url').value;
	sess.relocate(url);
}

function exitSession(){
  sess.end('https://www.surfly.com');
}
</script>

<style>
</style>

</head>

<body>
<div style="text-align:right;">
	<button class="button" id="exit_button" style="visibility:hidden" onclick="exitSession()">Exit session</button>
</div>

<div id="form_wrapper" style="visibility:visible;">
	<form id="nav" action="" method="post">
		<h4 class="text-title">Nav bar</h4>
		<label>
			<span>Website :</span>
		        <input id="url" type="text" name="url" />
		</label>
		<label>
		       <input type="button" class="button" id="submit_button" style="cursor:pointer;" onclick=sendMess() value="Go!" />
		</label>
	</form>
</div>

<div class="box"><iframe id="ifrm1" src="" height="700" width="49%" align='left'></iframe></div>
<div class="box"><iframe id="ifrm2" src="" height="700" width="49%" align='right'></iframe></div>


<script>
// get the current url and the follower link
pageUrl  = document.location.href;
var idIndex = pageUrl.indexOf("screen");
var sessionID = pageUrl.substring(idIndex+6);
var fullUrl =  "https://surfly-s1.com".concat(sessionID);

// set the url of the first frame to the follower link
document.getElementById('ifrm1').src = fullUrl;
</script>

</body>
</html>
