<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Hello</title>

    <link href="../static/creative.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

<style>
#bu{
  background-color: #ea2020;
  border-color: black;
  border-width: medium;
  font-size: 20px;
}

#homeHeading{
  font-size: 44px;
  color: white;
}

header {
  background-image: url("../static/mountain-bike-gory-priroda.jpg");
}

hr{
  color: white;
  background-color: white;
  height: 5px;
}

p{
  font-weight: bold;
}
</style>

</head>

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Splitscreen session</h1>
                <hr>
                <p style="color: white; font-size: 34px;">From this page, you can start a splitscreen co-browsing session!</p>
                <button id="bu" onclick="startSplitscreen()" class="btn btn-primary btn-xl page-scroll">Start splitscreen session</button>
            </div>
        </div>
    </header>

<script>

function startSplitscreen() {
    window.location.href = '/splitscreen'
   }
</script>


</body>

</html>

