<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <title>Popup link</title>

    <!-- stylesheet from bootstrap -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='creative.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='creative.css') }}">

    <!-- stylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='first_frame.css') }}">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

</head>

<body>

    <header class="page-image">
        <div class="header-content">
            <div class="header-content-inner">
                <hr>
                <p>Copy-paste the link below to share with a friend!</p>
                <div id="invite">Invite link</div>
                <a id="invite_a" style="visibility:hidden">Invite link</a>
                <button id="exitButton" class="btn btn-primary btn-xl page-scroll" onclick="exitPopup()">Close</button>
            </div>
        </div>
    </header>

    <script>
        function exitPopup() {
           document.getElementById('exitButton').style.visibility="hidden";
    </script>

   <script>
        console.log("test: is heroku updating?");
	var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
	var eventer = window[eventMethod];
	var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

	// Listen to message from child IFrame window
	eventer(messageEvent, function (e) {
	   var info = JSON.stringify(e.data);
	   console.log("the iframe recieves the message ", e.data);
	   var invite_link = document.getElementById('invite');
	   invite_link.innerHTML = e.data;
	   invite_link.style.visibility = 'visible';
	   if(info.indexOf('link to open')!==-1){
		// we extract the link from the data 
		//var invite_link = document.getElementById('invite');
		var invite = document.getElementById('invite_a');
		//invite_link.innerHTML = e.data;
		//invite_link.style.visibility = 'visible';
		invite.href = e.data.substring(14);
		invite.style.visibility = 'visible';
	   }
	}, false);
   </script>

</body>
</html>
