<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Splitscreen</title>

<link href="../static/splitscreen.css" rel="stylesheet">
<link href="../static/leader_side.css" rel="stylesheet">

</head>

<body>
<!--<button id="button-start" onclick="setTimeout(update, 4000)" style="visibility:hidden"> Take session </button>-->
<div id="invite" style="visibility:hidden">Invite link</div>
<a id="invite_a" style="visibility:hidden">Invite link</a>

<div class="box"><iframe id="ifrm1" src="./first_frame" height="700" width="49%" align='left'></iframe></div>
<div class="box"><iframe id="ifrm2" src="./fourth_frame" height="700" width="49%" align='right' style="background-image: url(../static/beer.jpg); background-size: cover;"></iframe></div>

<script>
var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
var eventer = window[eventMethod];
var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

// Listen to message from child IFrame window
eventer(messageEvent, function (e) {
   var info = JSON.stringify(e.data);
   if(info.indexOf('link to open')!==-1){
		var invite_link = document.getElementById('invite');
		var invite = document.getElementById('invite_a');
		invite_link.innerHTML = e.data;
		invite_link.style.visibility = 'visible';
		invite.href = e.data.substring(14);
		invite.style.visibility = 'visible';
   }
   if(info.indexOf('flink')!==-1){
	console.log('it worked? ' + e.data);
	console.log(typeof e.data);
	var link = e.data;
	if(link.indexOf('\\')){ link = link.substring(0, link.length-1);};
	document.getElementById('ifrm2').src = link;
	document.getElementById('invite').style.visibility = 'hidden';
	document.getElementById('invite_a').style.visibility = 'hidden';
   }
}, false);
</script>

</body>

</html>
