<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Splitscreen</title>

<link href="../static/splitscreen.css" rel="stylesheet">
<link href="../static/page_top.css" rel="stylesheet">

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var sess;
var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', block_until_agent_joins: false, ui_off: true};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      	if(!Surfly.currentSession){
	      s = Surfly.session();
	      s._settings.url = "https://radiant-cove-80566.herokuapp.com/start_page";
	      s.on('session_started', function(session) {
		       // get the session id from the follower link
			var followerLink = session.followerLink;
			var linkIndex = followerLink.indexOf(".com");
			var sessionID = followerLink.substring(linkIndex+4, linkIndex+16);
			// get the page url
			var pageUrl = document.location.href;
			// append the page url to the session id
			var res = pageUrl.concat(sessionID);
		        //var invite_link = document.getElementById('invite');
			//var invite = document.getElementById('invite_a');
                        // display the invite link
			//invite_link.innerHTML = "Copy-paste the following link to invite a friend: "+ res;
			//invite_link.style.visibility = 'visible';
			//invite.href = res;
			//invite.style.visibility = 'visible';
			document.getElementById('exit_button').style.visibility="visible";
			sess = session;	
		})
		.on('session_ended', function(session) {
			document.getElementById('exit_button').style.visibility="hidden";
		}).startLeader('#ifrm1');
	} 
     }
   });
 });

function sendMess(){
	var url = document.getElementById('url').value;
	sess.relocate(url);
}

window.addEventListener('message', function(e){
     var origin = event.origin || event.originalEvent.origin;
     if (origin == "https://surfly-s1.com") {
        console.log("passed the test");
        var string = JSON.stringify(e.data);
	if(string.indexOf('cobro_event')){
		if (string.match(/[0-9]{3}[-][0-9]{3}[-][0-9]{3}/)) {
                        // extract the follower link from the message 
			var index = string.indexOf('https');
			var indexEnd = string.indexOf('origin');	
			var flink = string.substring(index, indexEnd-4);
			if(flink.indexOf('\\')){ flink = flink.substring(0, flink.length);};
                        // set the source of the second iframe to the follower link
			document.getElementById('ifrm2').src = flink;
			//document.getElementById('invite').style.visibility = 'hidden';
			document.getElementById('invite_a').style.visibility = 'hidden';
		}
	}
    }

})

function exitSession(){
  sess.end('https://www.surfly.com');
}

  // ignore friend button
  function ignoreFriend() {
    var friendsFrame = document.getElementById("ifrm2");
    var yourFrame = document.getElementById("ifrm1");
    var ignoreButton = document.getElementById("ignore");
    console.log(ignoreButton.innerHTML);
    console.log(typeof ignoreButton.innerHTML);
    if(ignoreButton.innerHTML=="Ignore Friend"){
	console.log('ok');
	// we hide our friends iframe
	friendsFrame.style.visibility = "hidden";
	// we make our iframe the size of the screen
	yourFrame.style.width = "99%";
    	ignoreButton.innerHTML = "Acknowledge Friend";
    } else {
	friendsFrame.style.visibility = "visible";
    	// we shrink our frame
    	yourFrame.style.width = "49%";
    	// we change the button to an ignore friend button
    	ignoreButton.innerHTML = "Ignore Friend";
    }
  }
</script>


</head>

<body>
<div id="menu" style="align-items: center; text-align: center;">
	<button id="ignore" onclick="ignoreFriend()" style="float: right;">Ignore Friend</button>
	<button class="button" id="exit_button" style="visibility:hidden; float: right;" onclick="exitSession()">Exit</button>
	<div id="form_wrapper" style="visibility:visible">
		<form id="nav" action="" method="post" style="display: inline-block; align-items: flex-start;">
			<label style="float:left">
				<h3 id="title_bar" style="display: inline-block;">Nav bar :</h3>
				<input id="url" type="text" name="url" style="display: inline-block;" />
			</label>
			<label>
			       <input type="button" class="button" id="submit_button" onclick=sendMess() value="Go!" />
			</label>
		</form>
	</div>
</div>

<!-- the two iframes -->
<!-- the frame in which the leader link is opened -->
<div class="box"><iframe id="ifrm1" src="" height="700" width="49%" align='left'></iframe></div>
<!-- the frame in which the follower link will be opened -->
<div class="box"><iframe id="ifrm2" src="./fourth_frame" height="700" width="49%" align='right' style="background-image: url(../static/beer.jpg); background-size: cover;"></iframe></div>

</body>

</html>
