<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>First frame</title>
    <!-- Bootstrap Core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


    <style>
      body {
         background-image: url('../static/sunset.jpg');
      }
      
      #inviteButt {
         background-color: white;
      }
    
      .titleText {
         color: white;
      }

      .mainText {
         color: white;
      }       
 
    </style>

</head>


<body id="page-top">

    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="titleText" style="color: white;">Welcome</h1>
            <h3 class="mainText">Click the link below to invite a friend to join you</h3>
            <button id="invite" class="absolute" onclick="inviteFriend()">Invite Friend</button>
            <br>
        </div>
    </header>

<iframe id="popupLink" src="./popup_link" height="300" width="45%" style="top: 200px; left: 300px; display: block; position: absolute; visibility:hidden"></iframe>

<script>
var inviteLink;

	var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
	var eventer = window[eventMethod];
	var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

	// Listen to message from parent window
	eventer(messageEvent, function (e) {
	   var info = JSON.stringify(e.data);
           console.log("the info is ", info);
           inviteLink = e.data;
	   console.log("the start page iframe recieves the message ", e.data);
           document.getElementById('invite').style.visibility="visible";
           var popupWindow = document.getElementById("popupLink").contentWindow;
           popupWindow.postMessage(inviteLink, "*");
	}, false);

	function inviteFriend(){
	  console.log("the inviteLink is", inviteLink);
	  // we hide the invite button
	  document.getElementById("invite").style.visibility = "hidden";
	  // we show the popup 
	  document.getElementById("popupLink").style.visibility="visible"; 
	}

</script>

<script>
//close popup
function closeIFrame(){
     document.getElementById("popupLink").style.visibility="hidden";
}
</script>

</body>
</html> 
